@model IEnumerable<MVC_EF_Start.Models.Company>

@{
    ViewData["Title"] = "Details";
}

@{
    List<Company> comp = ViewBag.Company;
    List<Boat> evnt = ViewBag.Boat;
    string company = ViewBag.company;
    string company_url1 = ViewBag.company_url;
    string phone_number = ViewBag.phone_number;
}
<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='~/css/searchpagestyle.css' />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/style.css" />
</head>

<body>

    <!-- Navbar -->
    <div class="container-wrapper">
        <div class="brand-labling">
            <img src="~/img/boat.png" />
            <span>RENT-A-bOAT</span>
        </div>
        <!-- Navbar -->
        <div class="top-menu-wrapper">
            <div class="list-menu">
                <ul>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Search_page">Search</a></li>
                    <li>
                        <a href="#">Manage Listings &#9662;</a>
                        <ul class="dropdown">
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_add">Add</a></li>
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_modify">Modify</a></li>
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_delete">Delete</a></li>
                        </ul>
                    </li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Boatloc">Boat Loaction</a></li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Stats">Stats</a></li>

                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="About_us">About Us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class=backdropimg>
        <br><br><br>
        <header>
            <div class='headerdiv'>
                <h1>List of companies listing boats for hire</h1>
            </div>
        </header>

        <div class='divone'>
            <form>
                <h3>Provide Your Search Criteria Below</h3>
                <br>
                <input type="text" name="field2" class="field-style field-split align-left" placeholder="State" />
                <input type="text" name="field3" class="field-style field-split align-right" placeholder="City" />
                <input type="text" name="field3" class="field-style field-split align-right" placeholder="Vessel Type" />
                <input type="text" name="field3" class="field-style field-split align-right" placeholder="Water ways" />


            </form>
            <br>
            <button class="w3-button w3-teal buttonsave">SEARCH</button>
        </div>
        <br>
        <div class='divtwo'>
            <div style="overflow-x: auto;">

                <h3> @company_url1</h3>
                <table class="table">
                    <thead>
                        <tr>
                            Company name
                        </tr>
                        <tr>
                            Company URL:

                        </tr>
                        <tr>
                            @{
                                List<Company> data = ViewBag.data;
                                if (data != null)
                                {

                                    @for (int i = 0; i < data.Count; i++)
                                    {
                                        <td>@(i + 1)</td>

                                        <td>@data[i].company</td>

                                    }
                                }
                            }

                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            @if (comp != null)
                            {
                                @for (int i = 0; i < comp.Count(); i++)
                                {
                                    <td>@comp[i].company</td>
                                    <td>@comp[i].company_url</td>
                                }
                            }

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
</body>
</html>

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.company_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.company_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.street_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.company_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.company_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.company_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
